.popup {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: end;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 90%;
  height: 90%;
  visibility: hidden;
  z-index: -1;
  transition: visibility 0s, transform 0.1s;
  transform: translateX(200%);
}
.popup_active {
  visibility: visible;
  transform: translateX(0);
}
.popup__content {
  width: 250px;
  min-height: 70px;
  background: #fff;
  color: #000;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  text-align: center;
  position: relative;
}
.popup__close {
  background: url(../../images/close__image.svg) center no-repeat;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 0;
  right: 0;
  border: none;
  cursor: pointer;
  transition: opacity 0.1s ease;
}
.popup__close:hover {
  opacity: 70%;
}
.popup__text {
  font-size: 16px;
  line-height: 1.21;
  font-weight: 500;
  width: 210px;
}
